@model WebApplication_Fer.Models.Usuario
@{
    Layout = null;
    ViewData["Title"] = "Inicio de sesión";
}
  

<h1 class="text-center">@ViewData["Title"]</h1>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @ViewData["Error"]
    </div>
}

<div class="d-flex justify-content-center">
    <form method="post" asp-action="Login" class="text-center">
        <div class="form-group">
            <label for="nombreUsuario">Nombre de usuario:</label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" />
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
</div>
